html, body, body > div, .app {
  height: 100%;
  background-color: black;
}
.main {
  position: relative;
  top: 10%;
  left: 50%;
  margin-top: 50px;
  margin-left: -200px;
  width: px;
  height: px;
}
.down {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
.up {
  background-color: darkkhaki; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
}

.message {
  color: #4CAF50;
}
.update {
  background-color: firebrick; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
}
